* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.divTop {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:rgb(205, 220, 243);
  background-color: rgb(17, 53, 172);
  padding: 0px 30px 0px 10px;
}
.divTop p {
  color:rgb(205, 220, 243);

}
.divCPF {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: status-bar;

  
}
.divCPF button{
  background: rgb(17, 53, 172);
  color:#fff;
  border: unset;
}

#qtd-cpf {
  width: 200px;
  height: 20px;
  text-align: center;
  margin: 10px 10px 10px 0px;
}
.qtd-CPF {
  width: 200px;
  height: 30px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.btnCPF {
  width: 200px;
  margin: 30px;
  padding: 10px;
}
.divBD {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divc {
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  padding: 0px 10px 0px 10px;
  border: outset;
  border-color: rgb(226, 230, 236);
  background-color: #fff;

}
.divc p {
  width: auto;
  height: auto;
  margin: 8px;
  padding: 0 10px 0 0;
  text-align: center;
}
.divc button {
  width: auto;
  height: auto;
  background: transparent;
  border: unset;
}